<!-- <div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center" style="color: brown;">
        Dashboard Content Goes Here
      </div>
    </div>
  </div> -->
  <div class="container-fluid page" style="background-image: url(../../assets/back6.png);">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div >
        <div>
          <marquee direction="left">
          We are here for your prgress.. please visit the following card..</marquee>
        </div>
        <div class="row" style="padding-top: 5%;padding-left: 15%;">
          
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front" >
                  <img src="../../assets/card8.png" alt="Avatar" style="width:150px;height:150px;
                 padding: 5%; ">
                 <h4>Company Success</h4>
                </div>
                <div class="flip-card-back">
                  <h1 style="color: white;">Smooth Corporation</h1>
                  <h3>One Network platform for all of your
                    <br> clinical trials and PMCF projects</h3>
                 
                </div>
              </div>
            </div>
          
           <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/card5.png" alt="Avatar" style="width:150px;height:150px;
                padding: 5%; ">
                <h4>Company Connections</h4>  </div>
              <div class="flip-card-back">
                <h1 style="color: white;">John Doe</h1>
                <h3>Architect & Engineer</h3>
                  <h3>We love that guy</h3>
              </div>
            </div>
          </div> <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/card3.png" alt="Avatar" style="width:150px;height:150px;
                padding: 5%; ">
                <h4>Ideas</h4>    </div>
              <div class="flip-card-back">
                <h1 style="color: rgb(214, 205, 205);">John Doe</h1>
                <h3>Architect & Engineer</h3>
                  <h3>We love that guy</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 3%;padding-left: 15%;">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/card1.png" alt="Avatar" style="width:150px;height:150px;
                padding: 5%; ">
                <h4>Mettings</h4>  </div>
              <div class="flip-card-back">
                <h1 style="color: white;">Features</h1>
                <h3>Architect & Engineer</h3>
                  <h3>We love that guy</h3>
              </div>
            </div>
          </div> <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/card2.png" alt="Avatar" style="width:150px;height:150px;
                padding: 5%; ">
                <h4>Technology</h4>    </div>
              <div class="flip-card-back">
                <h1 style="color: white;">Profits</h1>
                <h3>Architect & Engineer</h3>
                  <h3>We love that guy</h3>
              </div>
            </div>
          </div> <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../../assets/Card4.png" alt="Avatar" style="width:150px;height:150px;
                padding: 5%; ">
                <h4>Opportunities</h4>   </div>
              <div class="flip-card-back">
                <h1 style="color: white;">Products</h1>
                <h3>Architect & Engineer</h3>
                <h3>We love that guy</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>