




  <div class="login-reg-panel">
    <div class="login-info-box">
      <h2>Have an account?</h2>
      <p>Lorem ipsum dolor sit amet</p>
      <label id="label-register" for="log-reg-show">Login</label>
      <input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
    </div>
              
    <div class="register-info-box">
      <h2>Do You interested in our project?</h2>
      <p>We Build the Future</p>
   </div>
              
    <div class="white-panel">
      <div class="login-show">
        <h2>REGISTER</h2>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
       <input type="button" value="Register">
       <input type="link" value="Already Have an account?"  routerLink="/sign-in"  style="margin-right: 5px;border-top: none;border-left: none;border-right: none;">
        
      </div>
    
    </div>
  </div>


  