<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.jpg" alt="Company Logo" style="width: 50px; height: 50px; border-radius: 10px;" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item  routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Plans
    </a>
    <a mat-list-item routerLink="/tasks"> <mat-icon>Test</mat-icon> Challenges </a>
    <a mat-list-item > <mat-icon>Services</mat-icon> Classes </a>
    <a mat-list-item> <mat-icon>Mobile</mat-icon> Contacts </a>
    <a mat-list-item> <mat-icon>Connections</mat-icon> About Us </a>
  </mat-nav-list>

  