<!DOCTYPE html>
    <div class="container-fluid page" style="background-image: url(../../assets/back6.png);">
        <div class="d-flex page__box p-3 mt-2">Challenges</div>
        <div class="page__content shadow p-3 position-relative">
          
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <main id="carousel">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </main>
        </div>
    </div>